.header {
    padding: 16px;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 0 0 5px 5px;
    border: 1px solid #333;
}
.header-logo {
    width: 50px;
    height: 50px;
    position: absolute;
}
.front-h1 {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}